{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{{ dump(date) }}
<p>{{ date|date("d/m/y") }}</p>

{% for product in products %}
    <h2>{{ product.name }}</h2>
    <p>{{ product.price }}</p>
    <a class="btn btn-success" href="{{ path('app_product_detail',{id:product.id}) }}">Détails</a>
{% endfor %}
{% endblock %}
