{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="card mb-3">
    <h3 class="card-header">{{ product.name }}</h3>
    <div class="card-body">
        <h5 class="card-title">{{ product.price }}</h5>
    </div>
    <img src="{{ product.picture }}" width="200">
    <div class="card-body">
        <p>{{ product.description }}</p>
        <p class="badge bg-dark">{{ product.price }}</p>
    </div>
        
</div>

{% endblock %}
