{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="#">Product</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-6">
        <img src="{{ product.picture }}" class="img-fluid">
    </div>
    <div class="col-6">
        <p>{{ product.description }}</p>
        <p class="badge bg-dark">{{ product.price }} €</p>
        <button class="btn btn-primary">Ajouter au panier</button>
    </div>
        
</div>

{% endblock %}
