{% set route_name = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_front') }}">gAmeStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if route_name == 'app_front' %}active{% endif %}" href="{{ path('app_front') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if route_name in ['app_categories', 'app_category_detail'] %}active{% endif %}" href="{{ path('app_categories') }}">Catégories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if route_name == 'app_static_page' and page is defined and page=='presentation' %}active{% endif %}" href="{{ path('app_static_page',{page:'presentation'}) }}">Présentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if route_name == 'app_static_page' and page is defined and page=='contact' %}active{% endif %}" href="{{ path('app_static_page',{page:'contact'}) }}">Contact</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Catégories</a>
                            <div class="dropdown-menu">
                                    {{ render(controller(
                                    'App\\Controller\\FrontController::categoryListPart'
                                    )) }}
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
            
        <main class="container-fluid">
            <h1>{{ block('title') }}</h1>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endfor %}
            
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_front') }}">Home</a></li>
                    {% block breadcrumb %}
                    
                    {% endblock %}
                </ol>
            </nav>
           
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
